!
! pmacctd configuration example
!
! Did you know CONFIG-KEYS contains the detailed list of all configuration keys supported ?
!
! General configs
!
! debug: true
daemonize: false
!
! libpcap daemon configs
!
pcap_interface: eth0
!
! Plugins definitions
!
plugins: memory[foo]
!
! 'foo' plugin configuration
!
aggregate[foo]: src_host, dst_host
imt_buckets: 65537
imt_mem_pools_size: 65536
! imt_mem_pools_number: 0
